body {
    padding: 50px;
    background-color: beige;
}

h1 {
    color: brown;
}

h3.subtitle_gato {
    color: brown;
}

/*ejercicio 3*/

h1.fnt-red {
    color: red;
}

.fnt-blue {
    color: blue;
}

#nombre_alumno {
    color: red;
    text-decoration: underline;
}

/*ejercicio 2b*/

h1.titulo {
    color: aqua;
    font-size: 30px;
}

p.texto {
    color: blue;
    font-size: 15px;
}

span.destacado {
    font-weight: 900;
    font-style: italic;
}

/*ejercicio 4*/

div.div {
    line-height: 20px;
    background-color: grey;
    display: inline-block;
    margin: auto;
    margin: 20px 20px;
    padding: 5px;
    border-radius: 10px;
}

h5.precio {
    line-height: 5px;
    font-size: 20px;

}

img.img {
    border-radius: 10px;
}

/*EJERCICIO 4B*/

div.superior {
    background-color: blue;
    width: 100%;
    left: 0;
    height: 40px;
    text-align: center;
    position: fixed;
    top: 0;
    color: white;
}

div.inferior {
    background-color: red;
    width: 100%;
    height: 40px;
    left: 0;
    text-align: center;
    position: absolute;
    bottom: 0;
    color: white;
}

/*ejercicio4c*/

div.cuadro {
    margin: auto;
    width: 8%;
    height: 50%;
    text-align: center;
    background-color: brown;
    font-weight: bold;
    padding-top: 25px;
    position: relative;
}

div.circulo1 {
    margin: auto;
    width: 30px;
    height: 30px;
    position: absolute;
    border: 2px solid brown;
    border-radius: 50%;
    background: beige;
    position: absolute;
    top: -12px;
    left: -15px;
    z-index: 100;
}

div.circulo2 {
    margin: auto;
    width: 30px;
    height: 30px;
    position: absolute;
    border: 2px solid brown;
    border-radius: 50%;
    background: beige;
    position: absolute;
    top: 77px;
    left: -15px;
    z-index: 100;
}

div.circulo3 {
    margin: auto;
    width: 30px;
    height: 30px;
    position: absolute;
    border: 2px solid brown;
    border-radius: 50%;
    background: beige;
    position: absolute;
    top: -12px;
    left: 80px;
    z-index: 100;
}

div.circulo4 {
    margin: auto;
    width: 30px;
    height: 30px;
    position: absolute;
    border: 2px solid brown;
    border-radius: 50%;
    background: beige;
    position: absolute;
    top: 77px;
    left: 80px;
    z-index: 100;
}

pre.texto4c {
    color: white;
}

/*EJERCICIO 4D*/

p.paragraf_ej4d {
    width: 500px;
    height: 70px;
    text-align: center;
    padding-top: 25px;
}

div.caja_ej4d {
    width: 250px;
    height: 170px;
    background-color: white;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

}

div.caja1_ej4d {
    width: 510px;
    height: 170px;
    background-color: aqua;
    border-radius: 20px;
    z-index: 100;
}

/*EJERCICIO 5*/
i.far {
    color: white;
    font-size: 50px;

}

div.caja_superior {
    padding-left: 520px;
}

div.icono1 {
    height: 60px;
    width: 60px;
    background-color: red;
    display: inline-block;
}

div.icono2 {
    height: 60px;
    width: 60px;
    background-color: green;
    display: inline-block;
}

div.caja_inferior {
    padding-top: 4px;
    padding-left: 520px;
}

div.icono3 {
    height: 60px;
    width: 60px;
    background-color: blue;
    display: inline-block;
}

div.icono4 {
    height: 60px;
    width: 60px;
    background-color: black;
    display: inline-block;
}

/*EJERCICIO 7*/

div.datos_empresa {
    display: inline-block;
    font-weight: bold;
}

div.datos_cliente {
    display: inline-block;
    padding-left: 600px;
}

th.barra_derecha {

    width: 5px;
}

table.tabla1 {
    text-align: right;
    padding: 5px;
    border-right: aqua 8px solid;
    border-left: aqua 8px solid;
}

div.contenedor {
    vertical-align: top;
}

div.datos_factura {
    text-align: left;
}

th.b_imponible {
    text-align: center;
}

th.iva {
    text-align: right;
}

table.datos_factura_tabla {
    width: 100%;

}

.separador_dcliente1 {
    background-color: aqua;
    height: 5px;
}

/*EJERCICIO 8*/

div.fila div {
    background-color: grey;
    display: inline-block;
    width: 100px;
    height: 100px;
}

div.fila div:hover {
    background-color: green;
}

div.fila div.mina:hover {
    background-color: red;
}

/*EJERCICIO 9*/

p.par1::first-letter {
    font-size: 60px;
    font-family: 'Oldenburg', cursive;
}

p.par2::first-letter {
    font-size: 60px;
    font-family: 'Oldenburg', cursive;
}

p.par1::first-line {
    color: brown;
}

p.par2::first-line {
    color: brown;
}

/*EJERCICIO 11*/

div.punto {
    background-color: red;
    height: 200px;
    color: white;

}

/*EJERCICIO BOOTSTRAP 1*/

h1.titol1 {
    text-align: center;
    color: black;
    margin-top: 30px;
    margin-bottom: 30px;
}

p.textolorem {
    font-weight: bolder;

}

/*EJERCICIO 12*/

input.input1 {
    width: 900px;
    display: inline-block;
}

input.input2 {
    width: 415px;
    padding-left: 0%;

}

input.tabla_form2{
    display: inline-block;
}


