/*ejercicio 1*/

div.circulo {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    display: inline-block;
    background-color: grey;
    margin-right: 20px;
}

div.circulo.circulo-rojo {
    background-color: red;
}

div.circulo_num {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    display: inline-block;
    background-color: grey;
    margin-right: 20px;
    text-align: center;
    font-size: 35px;
}

/*VALIDACIÓN FORMULARIOS*/
/*
input:required:invalid {
    border: 1px red solid; 
}

input:required:valid {
    border: 1px green solid;
}
*/