
<style>
table.mitabla thead, table.mitabla tfoot{
    background-color: beige;
}
table.mitabla tbody{
    background-color: greenyellow;
}
table.mitabla td{
    width: 100px ;
}
table.mitabla td.col_id{
    width: 40px;
    text-align: right;
    padding: 5px;
}
table.mitabla td.col_art{
    width: 150px;
    text-align: center;
}
</style>

<table class="mitabla">
    <thead>
        <tr>
            <th>id</th>
            <th>artículo</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td rowspan="2" class="col_id">1</td>
            <td class="col_art">bolígrafo bic</td>
        </tr>
        <tr>
            <td class="col_id"></td>
            <td class="col_art">lápiz Alpina</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <th colspan="2">FINAL</td>
        </tr>
    </tfoot>
</table>